@use"../../colors.scss";

.header{
    background-color: colors.$light;
    min-height: 500px;
}
.details{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 25px 0px;
    padding-left: 20vw;
}
.poster{
    box-shadow: 2px 2px 4px colors.$shadow;
    border-radius: 10px;
}
.summary{
    max-width: 750px;
    padding: 10px;
    h1 {
        font-size: 22px;
    }
}
.extraDetails{
    margin: 10px 0px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 300;
}
.biography{
    font-size: 16px;
}
.button{
    display: block;
    width: fit-content;
    background-color: colors.$dark;
    color: white;
    box-shadow: 2px 2px 4px colors.$shadow;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;

    &:hover{
        background-color: colors.$hover;
    }
}
.main{
    display: grid;
    justify-content: center;
}
.creditsHeading{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 10px;
}
.content{
    padding: 0px 25px;
    margin-bottom: 50px;
    display: grid;
    width: fit-content;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1100px){
    .content{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 850px) {
    .main{
        padding: 30px 0px;
    }
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 575px){
    .details{
        padding: 25px;
        flex-direction: column;
        align-items: center;
    }
    .content{
        grid-template-columns: 1fr;
    }
}