@use"./colors.scss";

.header{
    background: url(/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: grid;
    place-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 25px 5px;
}
.tab{
    font-weight: 400;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    text-align: center;
    box-shadow: 2px 2px 2px colors.$shadow-light;
}

.content{
    padding: 0px 25px;
    margin-bottom: 50px;
    display: grid;
    width: fit-content;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1100px){
    .content{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 850px) {
    .content{
        padding: 50px 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 575px){
    .tab{
        width: fit-content;
    }
    .content{
        padding: 50px 0px;
        grid-template-columns: 1fr;
    }
}
