@use"../../app/colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.nav{
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.logo{
    font-family: "Pacifico", cursive;
    color: colors.$primary;
    font-size: 28px;

    &:hover{
        color: colors.$hover;
    }
}
.desktopMenu, .mobileMenu {
    
    a{
        position: relative;
        text-decoration: none;
    }

    a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 50%;
        background-color: colors.$hover;
        transition: width 0.3s ease, left 0.3s ease;
      }

      a:hover{
        color: colors.$hover;
      }
      
      a:hover::after {
        width: 100%;
        left: 0;
      }
}

.desktopMenu{
    width: 60vw;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}


.icon, .mobileMenu{
    display: none;
}

// Animations for mobile menu
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 800px){
    .desktopMenu{
        display: none;
    }
    .icon{
        display: block;
        font-size: 25px;
        color: colors.$primary;
    }
    .mobileMenu{
        z-index: 10;
        position: absolute;
        top: 70px;
        left: 15px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: colors.$dark;
        color: white;
        width: calc(100vw - 15px);
        height: 450px;
        box-shadow: 2px 2px 2px colors.$shadow;
        animation: slideInFromRight 0.3s ease-out forwards;
        
        
        a::after{
            background-color: white;
        }
        a:hover{
            color: white;
        }
        a:hover::after {
            color: white;
            width: 100%;
            left: 0;
        }
    }
}