@use"../../colors.scss";

.header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 25px 0px;
    padding-left: 20vw;
    background-color: colors.$light;
}
.poster{
    box-shadow: 2px 2px 4px colors.$shadow;
    border-radius: 10px;
}
.content{
    max-width: 450px;
    padding: 10px;
    h1 {
        font-size: 22px;
    }
}
.ratings{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
    color: gray;
    margin: 5px 0px;
}
.overview{
    font-size: 16px;
}
.button{
    display: block;
    width: fit-content;
    background-color: colors.$dark;
    color: white;
    box-shadow: 2px 2px 4px colors.$shadow;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;

    &:hover{
        background-color: colors.$hover;
    }
}

@media screen and (max-width: 600px) {
    .header{
        padding-left: 25px;
        flex-direction: column;
        align-items: center;
    }
}