@use"../../app/colors.scss";

.footer{
    background-color: colors.$dark;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    
    
    a{
        text-decoration: underline;
    }
}